@import url("../styles/Sidebar.css");

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dropdown-toggle, .dropdown-toggle .btn-success,
.btn.show, .dropdown-toggle.btn:active{
    border: none;
    background-color: transparent;
    padding: 0;
}

.dropdown-toggle:hover{
    background-color: transparent;
}

#dropdown-split-basic::after{
    display: none !important;
}