@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-gradient: linear-gradient(to top, #30cfd0, #330867);
  --background: #121212;
  --text-color: #fff;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: 16px;
    background-color: black;
    font-family: "Montserrat", serif;
    color: var(--text-color);
    overflow: auto;
}

#root{
    height: 100%;
}

code {
    font-family: 'Roboto', sans-serif,
    monospace;
}
